:root {
    --clr-main: #1E132D;
    --clr-text: #ffffff;
    --clr-sub-main: #A638EA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--clr-text);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    position: fixed;
    background: var(--clr-sub-main);
    height: 45px;
    width: 100vw;
    top: 0;
    left: auto;
    right: auto;
    box-shadow: 2px 3px 10px var(--clr-main);
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: auto;
    right: auto;
    height: 45px;
    width: 100%;
    margin-left: -40px;
    padding: 0 40px;
    background: var(--clr-sub-main);
    color: var(--clr-main);
    font-size: 25px;
}
.header-name{
    display: flex;
}
.header-name div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    animation: avatar 3s infinite;
}
@keyframes avatar {
    0%{
        color:var(--clr-main);
    }
    50%{
        color:var(--clr-sub-main);
    }
    70%{
        color:var(--clr-text);
    }
    100%{
        color:var(--clr-sub-main);
    }
}
.header-conatct {
    display: flex;
}

.header-home a {
    text-decoration: none;
    margin-left: 15px;
    padding: 0 5px;
    color: var(--clr-main);
}

.header-home a:hover {
    color: var(--clr-text);
    border-right: 1px solid var(--clr-text);
    border-left: 1px solid var(--clr-text);
    transition: 2s;
}

main,
footer {
    background: var(--clr-main);
}

.home-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--clr-main);
    color: var(--clr-text);
    margin-top: 50px;
    height: 500px;
}

.home-left-side {
    padding-right: 80px;
}
.avatar-background {
    margin-top: 20px;
    background: var(--clr-sub-main);
    border-radius: 50%;
    width: 450px;
    height: 450px;
    background: url(./image/suhail-photo.png) no-repeat var(--clr-sub-main);
    background-size: 100%;
}

.home-p1 {
    font-size: 30px;
}

.home-left-side h1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.home-p2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.home-button {
    display: grid;
    grid-template-columns: 0.2fr 0.2fr;
    gap: 15px;
}

.home-button a button {
    font-size: 28px;
    color: var(--clr-text);
    cursor: pointer;
}

.home-button button {
    width: 200px;
    height: 50px;
    border: 2px solid var(--clr-sub-main);
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-button button:hover {
    background: var(--clr-sub-main);
    box-shadow: 2px 3px 10px var(--clr-sub-main),
                4px 6px 20px var(--clr-sub-main);
    color: var(--clr-main);
    transition: 2s;
}

.skills-page,.project-page {
    color: var(--clr-text);
    margin-top: 100px;
}
.skills-title,
.project-title,
.contact-title {
    text-align: center;
    font-size: 45px;
    margin: 80px 0 40px 0;
    color: var(--clr-text);
}
.skills-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.skills-info {
    text-align: center;
    width: 550px;
    height: 350px;
    background: var(--clr-sub-main);
    border-radius: 60px;
    cursor: pointer;
    padding: 0 25px;
}

.skills-info:hover {
    box-shadow: 3px 3px 10px var(--clr-sub-main),
                6px 6px 20px var(--clr-sub-main);
    border: 2px solid var(--clr-main);
    color: var(--clr-sub-main);
    transition: 3s;
    border-radius: 20px;
}

.skills-html-ph {
    width: 50px;
    height: 50px;
}

.skills-info h1 {
    font-size: 35px;
    margin: 20px 0;
}

.skills-info p {
    font-size: 25px;
    margin-bottom: 10px;
}

.skills-info p:hover,
h1:hover {
    color: var(--clr-text);
}

@keyframes html-animation {
    0% {
        transform: rotateZ(0deg);
    }

    50% {
        transform: rotateZ(180deg);
    }

    99% {
        transform: rotateZ(360deg);
    }
}

.html-logo {
    margin-top: 20px;
    width: 75px;
    height: 75px;
    animation:  html-animation 5s;
    animation-duration: calc(5);
    margin-right: 20px;
}

.html-logo:hover {
    animation: html-animation 5s infinite;
}

@keyframes css-animation{
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    80% {
        transform: rotateX(360deg);
    }
}

.css {
    animation: css-animation 5s infinite;
    margin-right: 20px;
}

@keyframes figma-animation {
    0% {
        transform: rotatey(0deg);
    }

    50% {
        transform: rotatey(180deg);
    }

    80% {
        transform: rotatey(360deg);
    }
}

.figma {
    animation: figma-animation 5s infinite;
    margin-right: 20px;
}

@keyframes github-animation {
    0% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(1.5);
    }

    80% {
        transform: scaleX(1);
    }
}

.github {
    animation: github-animation 5s infinite;
    margin-right: 50px;
}

.drive {
    animation: html-animation 2s infinite;
    margin-right: 20px;
}

.skills-info1-hover:hover {
    background: url(./image/html_logo-1.png) no-repeat 480px 5px;
    background-size: 10%;
}

.skills-info2-hover:hover {
    background: url(./image/CSS-logo.png) no-repeat 480px 5px;
    background-size: 10%;
}

.skills-info3-hover:hover {
    background: url(./image/figma-logo.png) no-repeat 480px 5px;
    background-size: 10%;
}

.skills-info4-hover:hover {
    background: url(./image/github-logo.png) no-repeat 480px 5px;
    background-size: 10%;
}

.skills-info5-hover:hover {
    background: url(./image/google-drive-logo.png) no-repeat 480px 0;
    background-size: 10%;
}

.skills-info6-hover:hover {
    background: url(./image/office-logo.png) no-repeat 480px 5px;
    background-size: 10%;
}

.project-element {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
}

.project-info {
    text-align: center;
    width: 550px;
    height: 300px;
    background: transparent;
    margin-top: 20px;
    border-radius: 8px;
    padding: 0 15px;
    cursor: pointer;
}

.project-info:hover {
    background: var(--clr-sub-main);
    box-shadow: 2px 3px 10px var(--clr-sub-main),
                4px 6px 20px var(--clr-sub-main);
    border-radius:60px ;
    transition: 3s;
}
.project-info h1{
    margin-top: 15px;
    font-size: 30px;
}
.project-info p {
    padding: 20px;
    font-size: 28px;
}

.project-info p:hover{
    color: var(--clr-main);
    transition: 1s;
}

.project-info1 {
    width: 550px;
    height: 350px;
    border: 2px solid var(--clr-main);
    cursor: pointer;
}

.project-info1:hover {
    box-shadow: 2px 3px 10px var(--clr-sub-main),
                4px 6px 20px var(--clr-sub-main);
    transition: 3s;
}

.project-info01 {
    background: url(./image/project-1.PNG);
}

.project-info02 {
    background: url(./image/project-2.PNG);
}

.project-info03{
    background: url(./image/project-3.PNG);
}

.contact-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 50px;
}

.contact-email{
    text-align: center;
    background: var(--clr-sub-main);
    width: 400px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: var(--clr-text);
}

.contact-img {
    margin: 8px 0;
    width: 8%;
}
.contact-info input,
.contact-massege input {
    width: 500px;
    height: 50px;
    margin: 0 0 24px 0;
    padding-left: 10px;
    border-radius: 8px;
    border: 2px solid var(--clr-sub-main);
    background: var(--clr-text);
    color: var(--clr-main);
}

.contact-massege input {
    height: 100px;
}

.contact-send-me a button {
    text-decoration: none;
    font-size: 20px;
    color: var(--clr-text);
    cursor: pointer;
}

.contact-send-me button {
    width: 150px;
    height: 50px;
    border: 2px solid var(--clr-sub-main);
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.contact-send-me button:hover {
    width: 200px;
    background: var(--clr-sub-main);
    box-shadow: 2px 3px 10px var(--clr-sub-main),
        4px 6px 15px var(--clr-sub-main);
    color: var(--clr-main);
    transition: 2s;
}

.contact-email p a {
    text-decoration: none;
    color: var(--clr-text);
    font-size: 20px;

}

.contact-email p {
    margin-bottom: 10px
}

.contact-email p a:hover{
    text-decoration:underline;
    color: var(--clr-main);
}